<div class="modal fade" id="sign-in" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form action="/login" method="POST" class="needs-validation login-form" novalidate>
            <div class="row mb-3">
              <label for="loginEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="loginEmail" id="loginEmail" autocomplete="username" required>
                <div class="invalid-feedback">
                  Must be a valid email address
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="loginPassword" id="loginPassword" autocomplete="current-password" required>
                <div class="invalid-feedback">
                  Please enter your password
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registration">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>