<div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
  <h5><%=user.firstName%>'s Profile</h5>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident hic blanditiis eos nobis ex suscipit voluptatibus perferendis quaerat officia unde.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque minima unde, perferendis, dolor quisquam quis error nemo quibusdam quod nulla beatae reprehenderit quo quae molestias officia ipsum recusandae esse mollitia magnam odio est quos. Dolorem quaerat temporibus facere dicta modi!
  </p>
</div>